
.region-dash-content-left {
  .block-site-tests-summary-block {
    margin-top: 3em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
}


.block-site-tests-summary-block {
  // background: yellow;
}
