.tm-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

article.result--type-tm-test-result {
  div.chart {
    min-height: 600px;
  }

  table {
    margin: 1rem auto 0;
    min-width: 80%;
    border-spacing: 0;

    caption {
      font-weight: bold;
    }

    thead tr {
      background-color: var(--esm-c-gray-5);

      th {
        padding: 2px 1rem;
      }
    }

    td {
      padding: 2px 1rem;
      border-bottom: 1px solid var(--esm-c-gray-15);
      text-align: center;
    }
  }
}
